@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 1px;
    
}

body{
    margin-bottom: 30px;
}

/*navbar*/

.d-flex{
    margin-left: 1200px;
    margin-top: -30px;
    margin-bottom: 20px;

    height: 20px;
    width: 100px;
    

    border: 1px solid #D1D1D1;
    border-radius: 10px;

    
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 12px;
}

.d-flex a{
    text-decoration: none;
    color: #000000;
    position: absolute;
    margin-left: 12px;
}

nav{
    height: 35px;
  
}

.navbar-nav li{
    list-style: none;
    display: inline;
    padding-right: 40px;
    margin-top: 30px; 
    cursor: pointer;
    font-family:'Inter';
}

#navbar{
    margin-left: 140px;
    margin-top: -25px;
}

#navbar a{
    color:#2A3342;
    text-decoration: none;
}

#coffee{
    display: flex;

    text-decoration: none;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 700;

    color:#2A3342;

    margin-left: 40px;
    margin-top: 30px;
}

#logo{
    position: absolute;
    margin-left: -40px;
    margin-top: -5px;
}

/*cards*/

.card-group{
    display: flex;
    box-sizing: border-box;

    margin-left: 5px;
}

.card-group img{
    border-radius: 8px;
}

.card-text{

    font-size: 12px;
    font-family: 'Segoe UI';
    
    color:#252423;
}

.card-body{
    height: 200px;
    display: flex;
    flex-flow: column;
}

.card{
    border: 1px solid #EDEBE9;
    border-radius: 8px;

    background-color:  #FFFFFF;

    display:flex;
    flex-flow: column;
    align-items: center;

    width: 400px;
    height: 300px;
}

#imagem1{
    width: 325px;
    height: 200px;
}

#imagem2{
    width: 325px;
    height: 200px;
}

#imagem3{
    width: 325px;
    height: 200px;
}

#imagem4{
    width: 325px;
    height: 200px;
}

/*botões*/
.hide{
    opacity: 0;
}

#bt1{
    position: absolute;
    background-color: #2A3342;
    color:#FFFFFF;
    border-radius: 5px;
    border:1px solid rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    text-align: center;
    font-family:'Raleway' ;
    font-weight: 600;
    align-items: center;
    margin-left: 80px;
    margin-top: 15px;
    height: 30px; 
}

#bt2{
    position: absolute;
    background-color: #2A3342;
    color:#FFFFFF;
    border-radius: 5px;
    border:1px solid rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    text-align: center;
    font-family:'Raleway' ;
    font-weight: 600;
    align-items: center;
    margin-left: 80px;
    margin-top: 15px;
    height: 30px;
}

#bt3{
    position: absolute;
    background-color: #2A3342;
    color:#FFFFFF;
    border-radius: 5px;
    border:1px solid rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    text-align: center;
    font-family:'Raleway' ;
    font-weight: 600;
    align-items: center;
    margin-left: 80px;
    margin-top: 0px;
    height: 30px;
}

#bt4{
    position: absolute;
    background-color: #2A3342;
    color:#FFFFFF;
    border-radius: 5px;
    border:1px solid rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    text-align: center;
    font-family:'Raleway' ;
    font-weight: 600;
    align-items: center;
    margin-left: 80px;
    margin-top: 15px;
    height: 30px;
}

.change{
    height: 20px;
}

/*modal*/

#fade,
#modal{
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 5;
}

#modal{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    background-color: #FFFFFF;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 350px;
    border-radius: 5px;
    max-width: 90%;
    text-align: center;
}

#close-modal{
    position: absolute;
    border:none;
    background-color: #FFFFFF;

    margin-left: 160px;
    margin-top: -90px;
}

#modal-body{
    margin-top: 100px;
}

#modal.esconder,
#fade.esconder{
    opacity: 0;
    pointer-events: none;
}

#modal-body button{
    background-color: #2A3342;
    color:#FFFFFF;
    border-radius: 5px;
    border:none;
    margin-top: 50px;
    height: 25px;
    width: 150px;
}

#modal-body p{
   margin-top: -50px;
   font-family: 'Montserrat';
}


#modal-header p{
    font-family:'Montserrat' ;
    font-size: 30px;
    margin-top: 80px;
}

#modal.esconder{
    top:0;
}

/*modal 2*/

#fade2,
#modal2{
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

#fade2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 5;
}

#modal2{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    background-color: #FFFFFF;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 350px;
    border-radius: 5px;
    max-width: 90%;
    text-align: center;
}

#fade2.esconder2,
#modal2.esconder2{
    opacity: 0;
    pointer-events: none;
}

#modal2.esconder2{
    top:0;
}

#modal-header2 p{
    font-family: 'Montserrat';
    font-weight: 700;
    margin-top: 30px;

}

#modal-header2 img{
    width: 100px;
    margin-left: -15px;
    margin-top: 20px;
    background-color: #FFFFFF;
}

#close-modal2{
    position: absolute;
    margin-left: 150px;
    border: none;
    
}

#modal-body2 p{
    margin-top: 30px;
    font-weight: 400;
}